*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
body{
    height: 100vh;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 900px;
    background: #1e1e1e;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    border-radius: 5px;
    overflow: hidden;
}
.translator_prop{
    border: 1px solid #333;
}
.translator_prop .n_item{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #333;
    padding: 0 20px;
}
.translator_prop .n_item li select{
    outline: none;
    border-style: none;
    padding: 10px 0;
    font-size: 17px;
    font-weight: 500;
    color: #b3b3b3;
    background: #1e1e1e;
}
.translator_prop .n_item li select:hover{
    color: #fff;
}
.bx-transfer{
    font-size: 22px;
    color: #b3b3b3;
    cursor: pointer;
}
.bx-transfer:hover{
    color: #fff;
}
.writebox{
    display: flex;
}
.propertyfrom, .propertytrans{
    width: 100%;
    position: relative;
}
.writebox textarea{
    width: 100%;
    height: 300px;
    border-style: none;
    outline: none;
    resize: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #b3b3b3;
    background: #1e1e1e;
    position: relative;
}
.writebox textarea:nth-child(1){
    border-right: 1px solid #333;
}
.writebox .icons{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.icons .bx{
    width: 35px;
    height: 35px;
    background: #333;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-out;
}
.icons .bx:hover{
    background: #b3b3b3;
    color: #333;
}
.code_length{
    font-size: 18px;
    color: #b3b3b3;
}
